<%-include('header')%>

<p>sampledata records.</p>
<ol class="list-group">
  <li class="list-group-item">ID = <%=data.id %></li>
  <li class="list-group-item">Name = <%=data.name %></li>
  <li class="list-group-item">Mail = <%=data.mail %></li>
</ol>

<%-include('footer') %>
